set httpd port 2812
    allow localhost
set alert hding2@illinois.edu
set mailserver express-smtp.cites.uiuc.edu

##check ads mount
check file ads-mount path /media/medusa/DO_NOT_DELETE.txt
  alert medusa-admin@lists.illinois.edu

##check local disk space
check filesystem rootfs with path / 
  if space usage > 85% then alert
  alert medusa-admin@lists.illinois.edu

check process nginx with pidfile /home/lib-medusa-downloader/nginx/logs/nginx.pid
  start program = "/home/lib-medusa-downloader/bin/start-nginx.sh"
  stop program = "/home/lib-medusa-downloader/bin/stop-nginx.sh"
check process nginx2 with pidfile /home/lib-medusa-downloader/nginx2/logs/nginx.pid
  start program = "/home/lib-medusa-downloader/bin/start-nginx2.sh"
  stop program = "/home/lib-medusa-downloader/bin/stop-nginx2.sh"
check process medusa-downloader-rails with pidfile /home/lib-medusa-downloader/run/passenger.pid
  group medusa
  start program = "/home/lib-medusa-downloader/bin/start-rails.sh"
  stop program = "/home/lib-medusa-downloader/bin/stop-rails.sh"
check process medusa-downloader-delayed-job with pidfile /home/lib-medusa-downloader/run/delayed_job.pid
  group medusa
  start program = "/home/lib-medusa-downloader/bin/start-delayed-job.sh"
  stop program = "/home/lib-medusa-downloader/bin/stop-delayed-job.sh"